<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LorryCSV - Verificar CSV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <h2 class="titulo">Verificar CSV</h2>
<div class="row">
    <div id="titvery" class="container z-depth-5 col s4 offset-s4">
        <p>Introduce el CSV, fecha y Expediente que hay en tu documento. Si es válido podrás verficar su autenticidad</P>
        <form id="verify-form">
            <div class="input-field">
                <input id="csv-code" type="text" required>
                <label for="csv-code">Código CSV</label>
            </div>
            <div class="input-field">
                <input id="fecha" type="text" required>
                <label for="fecha">Fecha (dd-mm-aaaa)</label>
            </div>
            <div class="input-field">
                <input id="expediente" type="text" required>
                <label for="expediente">Expediente</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Verificar</button>
        </form>
    </div>
</div>
    <!-- Modales de verificación -->
    <div id="success-modal" class="modal">
        <div class="modal-content">
            <h4 class="green-text">Verificado Correctamente</h4>
            <p>Código verificado exitosamente.</p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light">Cerrar</button>
        </div>
    </div>

    <div id="error-modal" class="modal">
        <div class="modal-content">
            <h4 class="red-text">Código No Válido</h4>
            <p>El código no es válido.</p>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light">Cerrar</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/verify.js"></script>
</body>
</html>
